//00ADEE - primary

$fontSizeXSmall: 8px;
$fontSizeSmall: 10px;
$fontSizeMedium: 16px;
$fontSizeLarge: 28px;
$fontSizeXLarge: 32px;

$primaryColor: #71706f;
$secondaryColor: #a7a6e2; //#214E83
$tertiaryColor: #d1fff7;

$dangerColor: #e68a8a;
$darkColor: #21272a;
$subColor: #475467;

$mobile: 350px;
$tablet: 768px;
$laptop: 1024px;